.banner {
    background-color: rgba(121, 178, 233, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100PX;
    /* margin-top: 1px; */
}

.text1{
    margin: 10px;
    color: #fff;
}